* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;  
    flex-direction: column;
    padding-top: 70px;
    transition: all 1s ease;
}


.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.abrir-menu {
	color: white;
	font-size: 25px;
	cursor: pointer;
}

.cerrar-menu {
    color: #ececec;
    position: absolute;
    right: 26px;
    font-size: 2rem;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 30px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    max-width: 250px;
    width: 250px;
    transition: all 0.8s ease;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list li a {
    color: #ecececec;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}
.nav-list li a i{
    margin-right: 14px;
}
.nav-list li a:hover{
    border-left: 5px solid;
    background: #1f1f1f;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1;
    transition: all 0.4s ease;
  }

