*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: var(--letra2);
}

:root {
    --bg: rgb(227, 232, 255);
    --card-bg: rgb(244, 245, 247);
    --white: #fff;
    --shadow: rgba(235, 240, 250, 0.731);
    --text-dark: rgb(5, 29, 49);
    --badge-text: #343483;
    --btn-bg: rgb(82, 84, 221);
    --scrollbar-bg: rgb(250, 248, 255);
    --letra1: 'Taviraj', serif;
	--letra2: 'Poppins', sans-serif;
	--letra3: 'Chakra Petch', sans-serif;
	--letra4: 'Handjet', cursive;
	--letra5:  'Josefin Sans', sans-serif;
	--letra6:  'Ysabeau SC', sans-serif;
}
html {
    scroll-behavior: smooth;
}


body {
    background: var(--bg);
}
  

  
  .recipiente {
      width: 1440px;
      margin: 0 auto;
      max-width: 1200px;
      position: relative;
  }
  
  header .recipiente{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #f0ebe700;
      z-index: 999;
      margin: auto;
      width: 100%;
      height: 90px;
      padding-right: 90px;
      transition: 0.7s;
  
  }
  
  /*Espacio entre la barra de navegación y el contenido de inicio*/
  
  header .nombre{
      display: flex;
  }
  
  header.abajo{
    background: #4592c5;
  }
  header .logotipo{
    font-family: var(--letra4) ;
    font-weight: normal;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 25px;
      letter-spacing: 5px;
      margin-left: 25px;
  }
  header .logo{
    margin-top: 10px;
    width: 80px;
    height: 80px;
      margin-left: 50px;
  }
  
  header .menu ul{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 50px;
  }
  
  header .menu ul li a{
    color: var(--cafe);
      text-decoration: none;
      margin-left: 40px;  /*Acomada el titulo y la barra de navegación*/
      font-size: 1.1rem;
      transition: color 0.3s ease;
      cursor: pointer;
  }
  header .menu .suscribir{
    position: relative;
    color: #fff;
    z-index: 2;
    border-radius: 30px;
    background: rgb(255, 250, 250);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
      border: #2873d6 2px solid;
  }
  header .menu .suscribir::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color:#2890d6 ;
      z-index: -2;
  }
  header .menu .suscribir::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 200px;
      left: 0;
      bottom: -150%;
      border-radius: 30%;
      background-color: #858484e2;
      z-index: -1;
  }
  header .menu .suscribir:hover::before{
      animation: btn-5 2s linear both;
  }
  @keyframes btn-5 {
      0%{
          transform: rotate(0deg);
      }
      100%{
          bottom: 100px;
          transform: rotate(360deg);
          
      }
  }
  
  header .menu .live{
      background-color: #ffffff00;
      color: #fff;
      margin-right: 20px;
      border: 2px solid #fff;
      border-radius: 25px;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 1s ease;
    font-size: 14px;
  }
  
  header .menu .live:hover{
      border: 2px solid #2865d6;
      color: #2865d6;
      font-weight: 900;
  }
  
  header .menu .admin{
    background-color: #495bc2;
      color: #fff;
      margin-right: 20px;
      border-radius: 25px;
      padding: 12px 20px;
      cursor: pointer;
      transition: all 0.5s ease;
    border: none;
    font-size: 14px;
  }
  
  header .menu .admin i{
    margin-left: 6px;
    font-size: 14px;
  }
  
  /*header .menu .admin:hover{
    background-color: #ffffff00;
      color: #fff;
      border: 1.4px solid #fff;
  }*/
  
  
  /*Menù lateral*/
  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;  
    flex-direction: column;
    padding-top: 70px;
    transition: all 1s ease;
  }
  
  
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  
  .abrir-menu {
  color: white;
  font-size: 25px;
  cursor: pointer;
  }
  
  .cerrar-menu {
    color: #ececec;
    position: absolute;
    right: 26px;
    font-size: 2rem;
  }
  
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 30px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    max-width: 250px;
    width: 250px;
    transition: all 0.8s ease;
    z-index: 999;
    position: fixed;
  }
  
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-list li a {
    color: #ecececec;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
  }
  .nav-list li a i{
    margin-right: 14px;
  }
  .nav-list li a:hover{
    border-left: 5px solid;
    background: #1f1f1f;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1;
    transition: all 0.4s ease;
  }
  /*--------------inicio-imagen---------------*/
  header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .principal {
    min-height: 80vh;
    background-image: linear-gradient(
        rgba(181, 181, 187, 0) 8%,
        rgba(102, 51, 153, 0) 100%
      ),
      url(../Imagenes/img3.jpeg);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    position: relative;
  }
  
  .principal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 23, 23, 0.6); /*Color semi-transparente*/
    z-index: auto; /*Sitúa este elemento encima de la imagen de fondo*/
  }
  
  .principal .titulo {
    font-size: 34px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
    color: white;
    line-height: 55px;
    position: relative;
  }
  
  .principal .descripcion {
    position: relative;
    font-size: 20px;
    line-height: 1.8rem;
    color: white;
    margin-top: 10px;
    margin-bottom: 16px;
    max-width: 800px;
    text-align: center;
    margin-left: 100px;
    
  }
  
  
  .principal .boton {
    position: relative;
    background-color: #1c455e;
    border: none;
    border-radius: 25px;
    padding: 14px 30px; /*tamaño caja del botón*/
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-left: 17px;
    margin-top: 24px;
  }
  
  .principal .boton:hover {
    background-color: #1c455e00;
      color: #fff;
      border: 1px solid #fff;
      transition: all 1s ease;
  }
  
::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
    box-shadow: inset 0 0 0.3rem var(--bg);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1.2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    max-width: 144rem;
    padding: 0 2rem;
    margin: 0 auto;
    font-size: 62.5%;
}

.tab-link {
    margin: 3rem 2rem 3rem 1.5rem;
    display: inline-flex;
}

.tab-link a {
    color: var(--white);
    background: var(--btn-bg);
    padding: 0.6rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;    
    font-size: 16px;
}

.section-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

.matchs,
.matchs-by-group {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}

.match {
    background: var(--card-bg);
    position: relative;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem 0.1rem var(--shadow);
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    color: var(--text-dark);
}

.match-info {
    display: flex;
    justify-content: space-between;
}

.badge {
    position: absolute;
    right: -1rem;
    top: -1rem;
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    background: var(--card-bg);
    color: var(--badge-text);
    box-shadow: 0 0 0.2rem 0.1rem var(--card-bg);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 1rem;
}

.flags {
    padding: 3rem 0 1rem 0;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.flag {
    width: 5rem;
}

.vs {
    font-size: 2rem;
}

.time-area {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    display: inline-flex;
    gap: 1rem;
}

.scroll-top {
    opacity: 0;
    transform: translateY(-10rem);
    position: fixed;
    right: 0.5rem;
    bottom: 2rem;
    background: var(--bg);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.1rem var(--badge-text);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 100;
}

.scroll-top.active {
    opacity: 1;
    transform: translateY(0);
}

.scroll-top img {
    width: 1rem;
    transform: rotate(180deg);
}

@media (max-width: 382px) {
    .tab-link {
        margin: 2rem 0 0 0;
    }
    .matchs,
    .matchs-by-group {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}


/*---- pie de pagina -----*/
.pie-pagina{
	width: 100%;
	background-color: rgb(26, 25, 25);
  margin-top: 40px;
  }
  .pie-pagina .grupo-1{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:50px;
	padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box h2{
	color: white;
	margin-bottom: 25px;
	font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
	color: white;
	margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: var(--cafe);
	margin-right: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	transition: all 300ms ease;
	border-radius: 50px;
  }
  
  .pie-pagina .grupo-2{
	background-color: rgba(255, 255, 255, 0.2);
	padding: 40px 10px;
	text-align: center;
	color: white;
  display: flex;
  }
  .pie-pagina .nombre2{
    display: flex;
  }
  .pie-pagina .nombre2 .logo2{
    width: 80px;
    height: 80px;
    margin-left: 50px;
  }

  .pie-pagina .nombre2 .logotipo2{
    font-family: var(--letra4) ;
    font-weight: normal;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 5px;
    margin-left: 25px;
  }
  .pie-pagina .grupo-2 small{
	font-size: 15px;
  margin-top: 28px;
  margin-left: 18px;
  }
  .pie-pagina .box .acerca{
	display: flex;
	flex-direction: column;
	padding-bottom: 16px;
	color: white;
	transition: all 0.6s ease;
  }
  .pie-pagina .box .acerca:hover{
	border-left: 1px solid white;
	padding-left: 10px;
	color: white;
  }
  
  .pie-pagina .grupo-1 .red-social .fa-instagram:hover{
	background: linear-gradient(30deg, #3040e6 10%, #d41356, #e74f31, #f0d280);
	transform: scale(1.1);
	transition: 0.2s;
	color: white;
	transition: all 0.5s;
  }
  
  .pie-pagina .grupo-1 .red-social .fa-tiktok:hover{
	background-color: rgb(34, 34, 34);
	transform: scale(1.1);
	transition: 0.2s;
	color: white;
	transition: all 0.5s;
  }
  
  .pie-pagina .grupo-1 .red-social .fa-twitter:hover{
	background-color: #229df0;
	transform: scale(1.1);
	transition: 0.2s;
	color: white;
	transition: all 0.5s;
  }
  
  .pie-pagina .grupo-1 .red-social .bi-facebook:hover{
	background-color: #2b60b1;
	transform: scale(1.1);
	transition: 0.2s;
	color: white;
	transition: all 0.5s;
  }
  
  .input-group{
	display: flex;
	flex-direction: column;
  }
  
  input{
	padding: 10px 20px 10px;
	border-radius: 25px;
	margin-bottom: 20px;
	width: 200px;
	background-color: #EDFFF0;
	border:  solid #F0FAF1;
	outline: none;
  }
  
  input::placeholder{
	color: #b5cab6;
  }
  
  .btn{
	color: #000000;
	border: none;
	background-color: rgba(231, 231, 231, 0.781);
	cursor: pointer;
	padding: 10px 18px;
	transition: all 0.6s ease;
	font-size: 14px;
	margin-left: 6px;
  font-weight: 700;
  }
  
  .btn:hover{
	background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: 100;
  }
  